<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prac 01</title>
    <link rel="shortcut icon" href="../static/iconMissile.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <h3>Success, button pressed {{name}}!</h3>
    <p id="date"></p>
    <p id=timestamp></p>
    <p id=formattedDate></p>
    <script src="../static/jquery-3.7.1.min.js"></script>
    <script src="../static/jquery-ui.min.js"></script>
    <script src="../static/moment-with-locales.js"></script>
    <script src="../static/index01.js"></script>
</body>
</html>
