<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timer</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="shortcut icon" href="../static/iconMissile.png" type="image/x-icon">
</head>
<body>
    <p id="date"></p>
    <p id="timestamp"></p>
    <div class="controls">
        <button id="start-btn">Start</button>
        <button id="pause-btn">Pause</button>
        <button id=stop-btn>Stop</button>
    </div>
    <p id="stopwatch">00:00:00</p>
    <script src="../static/jquery-3.7.1.min.js"></script>
    <script src="../static/moment-with-locales.js"></script>
    <script src="../static/index.js"></script>
</body>
</html>