<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading Examples</title>
    <link rel="stylesheet" href="{{url_for('static', filename='../static/index02.css')}}">
    <script src="../static/jquery-3.7.1.min.js"></script>
</head>
<body>
    <div id="loading-overlay">
        <div id="loading-spinner"></div>
    </div>
    
    <button id="showLoadingBtn" type="button">Show Loading</button>
    <button id="hideLoadingBtn" type="button">Hide Loading</button>

    <script src="../static/index02.js"></script>
</body>
</html>

