<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prac 01</title>
    <link rel="shortcut icon" href="../static/iconMissile.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
	<p id="formattedDate"></p>
    <fieldset>Sign Up!
        <form action="{{url_for('signUp')}}" method="post" id="signUpForm">
            <div><input type="text" name="username" id="username" placeholder="Enter username" required></div>
            <div><input type="email" name="email" id="email" placeholder="Enter email" required></div>
            <div><input type="text" name="password" id="password" placeholder="Enter password" required></div>
            <div><input type="text" name="rePassword" id="rePassword" placeholder="Repeat your password"></div>
            <div><input type="submit" value="Sign Up!"></div>
        </form>
    </fieldset>
    <p id="date"></p>
    <p id=timestamp></p>
    <script src="../static/jquery-3.7.1.min.js"></script>
    <script src="../static/jquery-ui.min.js"></script>
    <script src="../static/moment-with-locales.js"></script>
    <script src="../static/index.js"></script>
</body>
</html>
